body
{
    background-image: linear-gradient(to bottom, rgb(255,248,188), rgb(219,50,77));
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto';
}

.imgDeco
{
    position : absolute;
    bottom : 0px;
    left : 0px;
    background-image : url("../img/wine-storage.png");
}

.cellForm
{
    border : 1px solid lightgrey;
    border-radius : 5px;
    background-color : #ffffff;
}

.custom-file-label::after
{
    content : "Parcourir" !important;
}

option[selected=selected]
{
    display : none;
}

.btnAdd
{
    background: linear-gradient(180deg, #FFF8BC 0%, #DB324D 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color : white;
    width : 150px;
    height : 40px;
    border : none;
    border-radius : 40px;
}

/**
 * Put in Italic placeholder

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}
*/