body .navAjustement
{
    position: relative;
    z-index: 100;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: white!important;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 0 rgba(60,64,67,0.15);
}

body .navAjustement .profil, body .navAjustement .btnCounter
{
    font-size : 12px;
    position : relative;
}

body .navAjustement .profil .rowProfil
{
    position : absolute;
    top : calc(50% - 20px);
    text-align: center;
    width : 100%;
}

body .navAjustement .searchBtl, body .navAjustement .whiteBtl, body .navAjustement .roseBtl, body .navAjustement .redBtl
{
    width : 25px;
    height : 25px;
    margin : -4px 5px 0px 5px;
    display : inline-block;
    position :relative;
    top : calc(50% - 10px);
    border-radius: 13px;
    padding-top : 4px;
    cursor: pointer;
}

body .navAjustement .searchBtl
{
    font-size: 16px;
}

body .navAjustement .whiteBtl
{
    background-color : rgb(255,248,188);
}

body .navAjustement .roseBtl
{
    background-color : #db7599;
}

body .navAjustement .redBtl
{
    background-color : rgb(219,50,77);
}

body .navAjustement .profil .rowProfil .profileImg
{
    border-radius : 30px;
    cursor: pointer;
}

body .navAjustement .profil .rowProfil .adjustDropdown
{
    transform : translate3d(0px, 0px, 0px) !important;
    left : auto !important;
    top : auto !important;
    width : 354px;
    right : 6px;
}

.adjustDropdown .mainProfilInfo
{
    margin-top : 10px;
}

.adjustDropdown .mainProfilInfo .profilName
{
    margin-top : 10px;
    font-weight : bold;
}

.adjustDropdown .mainProfilInfo .profilEmail
{
    font-size : 12px;
}

.btnGestionCompte
{
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 4px 15px 4px 15px;
}

.btnDeconnexion
{
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 4px 15px 4px 15px;
}

.btnGestionCompte:hover, .btnDeconnexion:hover
{
    background-color : #f4f4f4;
}

body .navAjustement .h1
{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color : #38040E;
}

body .navAjustement .connexion, body .navAjustement .deconnexion
{
    position : relative;
}

body .navAjustement .connexion .connexionBtn, body .navAjustement .deconnexion .connexionBtn
{
    position : absolute;
    top : calc(50% - 15px);
    margin-left: -15px;
}

.colorImgLogin
{
    color : blue;
}

.profilImg .pointer, .rowProfil .pointer
{
    cursor: pointer;
}

#overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index : 999;
    overflow: hidden;
    height : 100%;
}

#overlay .closeOverlay
{
    position : absolute;
    color : #333;
    top : 0px;
    right : 30px;
    font-size : 50px;
    font-weight: bold;
}

#overlay .searchContainer
{
    margin-top : 100px;
}

#overlay .searchContainer .searchBar
{
    width : 100%;
    padding: 15px;
    border-radius: 40px;
    outline: none;
}

#overlay .searchContainer .searchBtn
{
    position: absolute;
    right: 45px;
    top: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    background-color: #721c24;
}

#overlay .searchContainer .searchBtn i
{
    color : white;
}

#spinner
{
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    z-index : 999;
}