body
{
    font-family: 'Roboto';
}

button:hover
{
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4) !important;
}

.Alsace
{
    background-image: url("../img/region/alsace.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem !important;
}

.Bordeaux
{
    background-image: url("../img/region/bordeaux.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem !important;
}

.Bourgogne
{
    background-image: url("../img/region/bourgogne.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem !important;
}

.Cotede
{
    background-image: url("../img/region/cotede.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem !important;
}

.Cotedu
{
    background-image: url("../img/region/coterhone.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem !important;
}

.LanguedocRoussillon
{
    background-image: url("../img/region/languedoc.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem !important;
}

.Loire
{
    background-image: url("../img/region/loire.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem !important;
}

.SudOuest
{
    background-image: url("../img/region/sudouest.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem !important;
}

.wineImg
{
    margin-top : -100px;
    border : 2px solid white;
    border-radius : 10px;
}

.appellationDescribe
{
    font-weight: bold;
}

.colorDescribe
{
    display: inline-block;
}

.colorDescribe .whiteBtl, .colorDescribe .roseBtl, .colorDescribe .redBtl
{
    margin : 10px 0px;
    display : inline-block;
    position :relative;
    border-radius: 20px;
}

.colorDescribe .whiteBtl
{
    background-color : rgb(255,248,188);
}

.colorDescribe .roseBtl
{
    background-color : #db7599;
}

.colorDescribe .redBtl
{
    background-color : rgb(219,50,77);
}

.noteDescribe
{
    display: inline-block;
    text-align: center;
}

.noteDescribe .starImg
{
    margin-top: 10px;
}

.priceDescribe
{
    margin-top: 15px;
    text-align: right;
}

.regionDescribe
{
    font-size: 18px;
    color: #aaaaaa;
    margin-top : 10px;
}

.quantityDescribe
{
    margin-top : 10px;
}

.modifyBtl
{
    margin-top: 10px;
    text-align: right;
}

.modifyBtl .editBtn, .useBtn
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border : none;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    outline: none !important;
}

.modifyBtl .editBtn
{
    background-color: #93032E;
}

.useBtn
{
    background-color: lightgrey;
}

.descriptionDescribe
{
    margin-top : 40px;
    background-color : #f5f5f5;
    border : 1px solid #dddddd;
    border-radius: 10px;
    padding : 15px 15px 15px 30px;
}

.descriptionDescribe .commentTitle
{
    position : absolute;
    left : 15px;
    top : -23px;
    color : lightgrey;
}

@media (min-width: 576px)
{
    .container-table-adapted
    {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .wineImg
    {
        width: 200px;
        height: 266px;
    }

    .appellationDescribe
    {
        font-size: 24px;
    }

    .colorDescribe .whiteBtl, .colorDescribe .roseBtl, .colorDescribe .redBtl
    {
        width: 25px;
        height: 25px;
    }

    .noteDescribe .starImg
    {
        height: 25px;
        width: 25px;
    }

    .priceDescribe
    {
        font-size: 16px;
    }

    .domainDescribe
    {
        font-size: 16px;
    }

    .regionDescribe
    {
        font-size: 12px;
    }

    .quantityDescribe
    {
        font-size : 12px;
    }

    .modifyBtl .editBtn, .useBtn
    {
        border-radius: 40px;
        padding: 5px 20px;
        margin-top : 0px;
        font-size: 12px;
        line-height: 14px;
    }
}

@media (min-width: 768px)
{
    .container-table-adapted
    {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .wineImg
    {
        width: 200px;
        height: 266px;
    }

    .appellationDescribe
    {
        font-size: 24px;
    }

    .colorDescribe .whiteBtl, .colorDescribe .roseBtl, .colorDescribe .redBtl
    {
        width: 25px;
        height: 25px;
    }

    .noteDescribe .starImg
    {
        height: 25px;
        width: 25px;
    }

    .priceDescribe
    {
        font-size: 16px;
    }

    .domainDescribe
    {
        font-size: 16px;
    }

    .regionDescribe
    {
        font-size: 12px;
    }

    .quantityDescribe
    {
        font-size : 12px;
    }

    .modifyBtl .editBtn, .useBtn
    {
        border-radius: 40px;
        padding: 5px 20px;
        margin-top : 0px;
        font-size: 12px;
        line-height: 14px;
    }
}

@media (min-width: 992px)
{
    .container-table-adapted
    {
        max-width: 960px;
    }

    .wineImg
    {
        width: 300px;
        height: 400px;
    }

    .appellationDescribe
    {
        font-size: 36px;
    }

    .colorDescribe .whiteBtl, .colorDescribe .roseBtl, .colorDescribe .redBtl
    {
        width: 40px;
        height: 40px;
    }

    .noteDescribe .starImg
    {
        height: 40px;
        width: 40px;
    }

    .priceDescribe
    {
        font-size: 24px;
    }

    .domainDescribe
    {
        font-size: 25px;
    }

    .regionDescribe
    {
        font-size: 18px;
    }

    .quantityDescribe
    {
        font-size : 18px;
    }

    .modifyBtl .editBtn, .useBtn
    {
        border-radius: 40px;
        padding: 10px 40px;
        font-size: 18px;
        line-height: 21px;
    }
}

@media (min-width: 1200px)
{
    .container-fluid
    {
        max-width : 1140px !important;
    }

    .container-table-adapted
    {
        max-width: 1140px;
    }

    .modifyBtl .editBtn, .useBtn
    {
        border-radius: 40px;
        padding: 10px 40px;
        font-size: 18px;
        line-height: 21px;
    }
}