@font-face
{
    font-family: 'Amarillo';
    src: url('../font/Amarillo.otf') format('opentype');
}

body
{
    background-image: url("../img/background-grapes.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto';
}

@media (min-width: 1820px)
{
    h2
    {
        font-size: 36px;
    }

    h3
    {
        font-size: 12px;
    }

    h4
    {
        font-size: 24px;
    }

    .rightPanel-signIn .mainTextRightPanel,
    .leftPanel-signUp .mainTextRightPanel,
    .rightPanel-signIn .mainTextLeftPanel,
    .leftPanel-signUp .mainTextLeftPanel
    {
        font-size: 64px;
    }

}

@media (max-width: 1819px)
{
    h2
    {
        font-size: 25px;
    }

    h3
    {
        font-size: 10px;
    }

    h4
    {
        font-size: 18px;
    }

    .rightPanel-signIn .mainTextRightPanel,
    .leftPanel-signUp .mainTextRightPanel,
    .rightPanel-signIn .mainTextLeftPanel,
    .leftPanel-signUp .mainTextLeftPanel
    {
        font-size: 40px;
    }
}

h2
{
    font-family: 'Roboto';
    text-align : center;
    font-weight: bold;
}

h3
{
    font-family: 'Amarillo';
    text-align : center;
    color: #93032E;
    margin-top : -10px;
    margin-left : 20px;
}



.adaptedAlert
{
    margin-bottom : -50px;
}

.divContainerConnect, .connectContainer
{
    position : fixed;
    display: table;
    height: 100%;
    width : 100%;
    margin-top : -105px;
}

.rowConnect
{
    display: table-cell;
    vertical-align: middle;
    width : 100%;
    font-family: 'Roboto';
}

.leftPanel-signIn
{
    background-color : rgba(255, 255, 255, 1);
    box-shadow : 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 0 rgba(60,64,67,0.15);
    border : 1px solid transparent;
    border-radius : 20px 0px 0px 20px;
    padding : 30px;
    display: inline-block;
    height: 390px;
    width: 50%;
    transition: transform 500ms ease-out;
}

.leftPanel-signIn form
{
    height: 100%;
    width : 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top : 50px;
}

.rightPanel-signUp form
{
    height: 100%;
    width : 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top : 5px;
}

.rightPanel-signUp form .form-group
{
    margin-bottom: 0.4rem !important;
}

.leftPanel-signIn form .usernameInput,
.leftPanel-signIn form .passwordInput,
.rightPanel-signUp form .firstnameInput,
.rightPanel-signUp form .lastnameInput,
.rightPanel-signUp form .emailInput,
.rightPanel-signUp form .usernameInput,
.rightPanel-signUp form .passwordInput,
.rightPanel-signUp form .signUpDiv
{
    text-align : center;
    position : relative;
    width : 100%;
    font-size: 16px;
}

.leftPanel-signIn form .usernameInput i, .leftPanel-signIn form .passwordInput i
{
    color : #cccccc;
    position : absolute;
    top : calc(50% - 9px);
    font-size : 18px;
}

.rightPanel-signUp form .usernameInput i, .rightPanel-signUp form .passwordInput i,
.rightPanel-signUp form .firstnameInput i,
.rightPanel-signUp form .lastnameInput i
{
    color : #cccccc;
    position : absolute;
    top : calc(50% - 9px);
    font-size : 18px;
}

.rightPanel-signUp form .passwordInput .passwordRequirements
{
    position: absolute;
    top: -88px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    font-size: 10px;
    right: calc(50% - 101px);
}

.rightPanel-signUp form .passwordInput .passwordRequirements .requirement
{
    width : 50%;
    text-align: left;
    margin-left : calc(50% - 42px);
}

.rightPanel-signUp form .passwordInput .passwordRequirements .requirement i.fa-times,
.rightPanel-signUp form .passwordInput .passwordRequirements .requirement i.fa-check
{
    position : relative !important;
    font-size: 12px;
    margin-top: 2px;
    margin-right : 2px;
}

.rightPanel-signUp form .passwordInput .passwordRequirements .requirement i.fa-times
{
    color: #721c24;
}

.rightPanel-signUp form .passwordInput .passwordRequirements .requirement i.fa-check
{
    /*background-color: #c3e6cb;*/
    color : #155724;
}

.rightPanel-signUp form .emailInput i
{
    color : #cccccc;
    position : absolute;
    top : calc(50% - 8px);
    font-size : 16px;
}

.leftPanel-signIn form input, .rightPanel-signUp form input
{
    display: inline-block;
    width: auto;
}

.leftPanel-signIn form .connectInput, .rightPanel-signUp form .connectInput
{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border : none;
    border-radius: 10px;
    padding : 6px 6px 6px 30px;
    margin-left : -10px;
}

.leftPanel-signIn form .connectInput:focus
{
    border-bottom : 3px solid #555;
    outline: none;
}

.rightPanel-signUp form .registerInput, .rightPanel-signUp form .registerInput
{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border : none;
    border-radius: 10px;
    padding : 6px 6px 6px 30px;
    margin-left : -10px;
}

.rightPanel-signUp form .registerInput:focus
{
    border-bottom : 3px solid #555;
    outline: none;
}

.leftPanel-signIn form .signInBtn
{
    background-color: #93032E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border : none;

    padding: 10px 40px;
    margin-top : 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
    outline: none;
}

.rightPanel-signUp form .signUpBtn
{
    background-color: #93032E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border : none;

    padding: 10px 40px;
    margin-top : 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
    outline: none;
}

.rightPanel-signIn
{
    background-color : rgb(255, 236, 74);
    box-shadow : 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 0 rgba(60,64,67,0.15);
    border : 1px solid transparent;
    border-radius : 0px 20px 20px 0px;
    padding : 30px;
    display: inline-block;
    height: 390px;
    width: 50%;
    float : right;
    position : relative;
    transition: transform 500ms ease-out;
}

.rightPanel-signIn .mainTextRightPanel, .leftPanel-signUp .mainTextRightPanel
{
    width: 100%;
    height: 170px;
    line-height: 280px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    color: #38040E;
}

.rightPanel-signIn .mainTextLeftPanel, .leftPanel-signUp .mainTextLeftPanel
{
    width: 100%;
    height: 170px;
    line-height: 280px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    color: #FFEC4A;
}

.rightPanel-signIn h4
{
    text-align: right;
    margin-right : 20px;
    font-weight: bold;
    color: #38040E;
}

.leftPanel-signUp h4
{
    text-align: right;
    margin-right : 20px;
    font-weight: bold;
    color: #FFEC4A;
}

.rightPanel-signIn .createAccountBtn, .leftPanel-signUp .createAccountBtn, .rightPanel-signIn .switchConnectPanel, .leftPanel-signUp .switchConnectPanel
{
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border : none;
    padding: 10px 40px;
    margin-top : 65px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    outline: none;
}

.rightPanel-signIn .createAccountBtn, .leftPanel-signUp .createAccountBtn
{
    color: #38040E;
}

.rightPanel-signIn .switchConnectPanel, .leftPanel-signUp .switchConnectPanel
{
    color: #38040E;
}

.rightPanel-signIn #signUp-signIn, .leftPanel-signUp #signIn-signUp, .leftPanel-signIn #form-signUp, .rightPanel-signUp #form-signIn
{
    display : none;
}

.leftPanel-signUp
{
    background-color : #38040E;
    box-shadow : 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 0 rgba(60,64,67,0.15);
    border : 1px solid transparent;
    border-radius : 20px 0px 0px 20px;
    padding : 30px;
    display: inline-block;
    height: 390px;
    width: 50%;
    float : right;
    position : relative;
    transform: translateX(-100%);
    transition: transform 500ms ease-out;
}

.rightPanel-signUp
{
    background-color : rgba(255, 255, 255, 1);
    box-shadow : 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 0 rgba(60,64,67,0.15);
    border : 1px solid transparent;
    border-radius : 0px 20px 20px 0px;
    padding : 30px;
    display: inline-block;
    height: 390px;
    width: 50%;
    transform: translateX(100%);
    transition: transform 500ms ease-out 50ms;
}
