@media (min-width: 576px)
{
    .container-table-adapted
    {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px)
{
    .container-table-adapted
    {
        max-width: 720px;
    }
}

@media (min-width: 992px)
{
    .container-table-adapted
    {
        max-width: 960px;
    }
}

@media (min-width: 1200px)
{
    .container-table-adapted
    {
        max-width: 1140px;
    }
}

.btnWine
{
    background-color: white !important;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 0 rgba(60,64,67,0.15);
}

.pointer
{
    cursor : pointer;
}

.editWine
{
    cursor : pointer;
}

.useWine
{
    cursor : pointer;
}