body
{
    font-family: 'Roboto';
}

.main
{
    margin-top: 30px;
}

.firstRow
{
    position : relative;
}
.cavePanel
{
    position : absolute !important;
}

.cavePanel, .profilePanel, .archivePanel
{
    cursor : pointer;
    text-align: center;
    height : 300px;
    line-height: 300px;
    z-index: 99;
    border-radius : 50px;
}

.cavePanel
{
    width : 100%;
    background-color : rgba(56, 4, 14, 0.6);
}

.profilePanel
 {
     left : 0px;
     background-color : rgba(255, 248, 188, 0.6);
 }

.archivePanel
{
    right : 0px;
    background-color : rgba(219, 50, 77, 0.6);
}

@media (min-width: 992px)
{
    .profilePanel, .archivePanel
    {
        position : absolute !important;
    }

    .archivePanel
    {
        top : 0px;
    }

    .secondRow .profile, .secondRow .archive
    {
        width : 92%;
    }

    .profilePanel, .archivePanel
    {
        width : 92%;
    }
}

@media (max-width: 991px)
{
    .archivePanel
    {
        position : absolute !important;
        margin-top: 50px;
    }
    .secondRow .profile, .secondRow .archive
    {
        width : 100%;
    }

    .secondRow .archive
    {
        margin-top: 50px;
    }

    .profilePanel, .archivePanel
    {
        width : 100%;
    }
}

.cave
{
    width : 100%;
    height : 300px;
    line-height: 300px;
    background-image : url("../img/main/cave.jpg");
    background-size : cover;
    border-radius : 50px;
    text-align: center;
    cursor : pointer;
}

.secondRow
{
    margin-top : 50px;
}

.secondRow div
{
    position : relative;
    padding : 0px !important;
}

.secondRow .profile
{
    height : 300px;
    line-height: 300px;
    background-image : url("../img/main/profile.jpg");
    background-size : cover;
    border-radius : 50px;
    display : inline-block;
    position : absolute;
    left : 0px;
    top : 0px;
    text-align: center;
    cursor : pointer;
}

.secondRow .archive
{
    height : 300px;
    line-height: 300px;
    background-image : url("../img/main/archive.jpg");
    background-size : cover;
    border-radius : 50px;
    display : inline-block;
    position : absolute;
    right : 0px;
    top : 0px;
    text-align: center;
    cursor : pointer;
}

.cave span, .cavePanel span, .secondRow .profile span, .profilePanel span, .secondRow .archive span, .archivePanel span
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
    font-size: 64px;
    color : white;
    height : 100%;
    width: 100%;
    line-height: 300px;
}