body
{
    font-family: 'Roboto';
}

.cellForm
{
    border : 1px solid lightgrey;
    border-radius : 5px;
    background-color : #ffffff;
}

.custom-file-label::after
{
    content : "Parcourir" !important;
}

.btnEdit
{
    background: linear-gradient(180deg, #FFF8BC 0%, #DB324D 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color : white;
    width : 150px;
    height : 40px;
    border : none;
    border-radius : 40px;
}