{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}

    <div class="container main">

        {# Ligne accès à la cave #}
        <div class="row firstRow">
            <div class="col-12 cavePanel" id="cavePanel">
                <span>Ma cave</span>
            </div>
            <div class="col-12 cave" id="caveBtn">
                <span>Ma cave</span>
            </div>
        </div>

        {# Ligne accès au profil ou aux archives #}
        <div class="row secondRow">

            {# Profil #}
            <div class="col-md-6 col-12">
                <div class="profilePanel" id="profilePanel">
                    <span>Profil</span>
                </div>
                <div class="profile" id="profileBtn">
                    <span>Profil</span>
                </div>
            </div>

            {# Archives #}
            <div class="col-md-6 col-12">
                <div class="archivePanel" id="archivePanel">
                    <span>Déjà bu</span>
                </div>
                <div class="archive" id="archiveBtn">
                    <span>Déjà bu</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}