{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid divContainerConnect">
        <div class="row rowConnect">
            <div class="offset-4 col-4 divConnect">
                <form action="{{ path('connexion') }}" method="post">
                    <div class="form-group">
                        <label for="_username">Username</label>
                        <input type="text" class="form-control" required name="_username">
                    </div>
                    <div class="form-group">
                        <label for="_password">Password</label>
                        <input type="password" class="form-control" required name="_password">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-light">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}