{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bienvenue.css') }}">
{% endblock %}

{% block body %}
    <div class="container containerBvn">
        <div class="row rowBvn">
            <div class="col-4 divBvn">
                <span class="textBvnFst">Créer</span><br>
                <span class="textBvnSnd">sa cave</span><br>
                <span class="textBvnTrd">en ligne</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
     <script src="{{ asset('js/macave.js') }}"></script>
{% endblock %}